{% extends 'base.html' %}

{% block title %} Convert Page {% endblock %}

{% block content %}

<div class="main">
    <div class="logo">

    </div>
    <div class="choice">
        <p>Choose what you want to convert</p>
        <form action="" method="POST">
            <select name="choice" id="choice">
                <option value="JPG to PNG">JPG to PNG</option>
                <option value="PNG to JPG">PNG to JPG</option>
            </select>
            <button type="submit">GO</button>
        </form>
    </div>
</div>


{% endblock %}